.Rproj.user
.Rhistory
.RData
.Ruserdata
miretrieve demo.Rmd
miretrieve demo_2.Rmd
miRetrieve testing markdown.Rmd
miRetrieve_0.1.0.pdf
Meta
doc
inst/doc
LDA_miRetrieve_resized.png
miRetrieve.Rmd
Stopwordremoval_miRetrieve_res.png
Tokenization_miRetrieve_res.png
/doc/
/Meta/
/vignettes/
_pkgdown.yml